/* font family */
  @import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


  body{
    font-family:'Fasthand', cursive ;
  }
  h1{
    font-size: 80px;
    text-align: center;
    padding: 20px;
    text-shadow: 0 0 10px red;
  }



