/* font family */
  @import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

  




  body{
    font-family:'Fasthand', cursive ;
    background-color: #767373;
    width: 100vw;
    height: 100%;

  }
/*     ----------------General Classes             */
  .container{
    width: 90%;
    margin: 30px auto;
    background-color: #ccc;
  }
  .d-f-colomn{
    display: flex;
    flex-direction:column;
  }
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d-flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  input{
    width: 170px;
    height: 40px;
  }

  /*              ----------- Star header */

  header{
    width: 100%;
    height: 70px;
    text-align: center;
  }
  header .logo{
    width: 30%;
    font-size: 80px;
    text-align: center;
    text-shadow: 0 0 10px red;
    font-family: 'Lobster', cursive;
  }
  header .search-bar{
    width: 70%;
    height: 70px;
  }
  .search-bar input{
    width: 70%;
  }
  .search-bar span{
    font-size: 30px;
    margin: 0 10px;
  }

  /*       ------------star main-home */
  main{
    background-color: #fff;
    height: 100vh;
    width: 100vw;
  }
  button{
    width: 60px;
    height: 40px;
    background-color: #09a311;
    margin: 0 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: none;
}
  h4{
    font-size: 40px;
    padding: 20px;
    text-shadow: 0 0 10px red;
  }
 form {
  padding: 10px 20px;
 }
 .content{
  background-color: #b6aaaa;
  padding: 20px;
  height: auto;
 }


